{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    {% for userInfo in userInformation %}
        {% if app.user.id == userInfo.id %}
            <div class="container px-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="p-3 border bg-light">NOM : {{ userInfo.lastname }}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-3 border bg-light">PRENOM : {{ userInfo.name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="p-3 border bg-light">PAYS : {{ userInfo.country }}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-3 border bg-light">VILLE : {{ userInfo.city }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="p-3 border bg-light">ADRESSE : {{ userInfo.adress }}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-3 border bg-light">E-MAIL : {{ userInfo.email }}</div>
                    </div>
                </div>
            <br>
            {% elseif app.user.id != userInfo.id %}
        {% endif %}
    {% endfor %}
    {% if app.user.userBankAccount is empty %}
        <h4>Compte bancaire en cours..</h4>
        <p>Un banquier éxamine votre demande cela <br>peut prendre quelques heures.</p>
    {% endif %}
    {% for userBank in app.user.userBankAccount %}
        {% if userBank.accountIsActive == true %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3 border bg-light">IDENTIFIANT : {{ userBank.uniqueId }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3 border bg-light"><a href="{{ path('account_current', {'id' : userBank.id}) }}">COMPTE COURANT : {{ userBank.currentAccount }}</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3 border bg-light"><a href="{{ path('account_bookletA', {'id' : userBank.id}) }}">LIVRET A : {{ userBank.bookletA }}</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3 border bg-light">SITUATION DU COMPTE : ACTIF</div>
                </div>
            </div>
            </div>
            <br>
            <div class="container px-4">
                <div class="row align-items-end" >
                    <div class="col-sm-6">
                        <div class="p-3 border" style="background-color: #6a1a21; color: white">DEMANDE DE SUPPRESSION DU COMPTE BANCAIRE :
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

