{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="table-responsive container-fluid">
        <h2>INFOS UTILISATEURS</h2>
        <table class="table table-sm text-center" id="myTable">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche par pays" title="Type in a name">
            <thead class="text-uppercase">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>E-mail</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Identité</th>
                <th>Demande de suppression</th>
                <th>Compte bancaire</th>
            </tr>
            </thead>
            {% for userInfo in userInformation %}
                <tbody>
                <tr>
                    <td>{{ userInfo.name }}</td>
                    <td>{{ userInfo.lastname }}</td>
                    <td>{{ userInfo.email }}</td>
                    <td>{{ userInfo.country }}</td>
                    <td>{{ userInfo.city }}</td>
                    <td><a href="{{ asset('assets/image/' ~ userInfo.image) }}" class="btn btn-success">Piece d'identité</a></td>
                    {# Compte a supprimé = 1 #}
                    {% if userInfo.isDelete == 1 %}
                        <td>
                            <button class="btn btn-outline-dark btn-delete" type="submit">
                                <a href="{{ path('admin_delete_account', {'id' : userInfo.id}) }}">Suprimer</a>
                            </button> <br>
                            <a href="{{ asset('assets/signature/' ~ userInfo.signatureDeleteAccount) }}" class="btn btn-success">
                                Signature
                            </a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {# Compte bancaire activer = 1 #}
                    {% for bankInfoUser in userInfo.userBankAccount %}
                        {% if bankInfoUser.accountIsActive == 1 %}
                            <td>Compte bancaire ACTIF</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
