{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
ADMIN
    {% for userInfo in userInformation %}
            <div>
                <h1>Infos Compte</h1>
                <div>
                    NOM : {{ userInfo.lastname }} PRENOM :{{ userInfo.name }}
                </div>
                <div>
                    E-Mail : {{ userInfo.email }}
                </div>

                <img src="{{ asset('assets/image/') }}{{ userInfo.image }}" width="700" >
            </div>
    {% endfor %}

{% endblock %}
